body {
    font-family: 'Comic Sans MS';
    background-color: ivory
}

.center {
    text-align: center;
}

.content {
    width: 98%;
    float: left;
    padding: 5px 10px;
}

.div-generic {
    width: 99%;
    float: left;
    height: 250px;
    box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.56);
}
#title {
    width: 99%;
    text-align: center;
    background-color: gainsboro;
    float: left;
    font-size: 20px;
    border: 1px gainsboro solid;
    border-radius: 14px;
    color: #4D4C4C;
}

.span-title {
    color: #4D4C4C;
}

.div-left {
    float: left;
    width: 30%;
    height: 250px;
    text-align: center;
}

.div-right {
    float: right;
    width: 70%;
    height: 250px;
}

.sub-div-generic {
    width: 98%;
    float: left;
    padding: 5px;
    margin: 10px 0;
    height: 220px;
}

.sub-div-generic span {
    text-align: center;
}

#img-profile {
    margin: 13% 0;
}

.title-span-generic {
    padding: 5px;
    border: 1px solid  gainsboro;
    background-color: gainsboro;
    border-radius: 15px;
}

.scroll {
    overflow: scroll;
    overflow-x: hidden;
}

.div-experience {
    text-align: center;
    width: 98%;
    padding: 20px 0;
    border-bottom: 1px solid;
}

.skills {
    float: left;
    width: 45%;
    margin-top: 10px;
    margin-left: 4px;
}

.main-data {
    height: 214px;
    width: 75%;
    float: left;
}

.main-data img {
    vertical-align: baseline;
}

.resume {
    height: 214px;
    width: 25%;
    float: left;
}

.resume img {
    margin: 3px 0;
}

[item-list] {
    border-bottom: 1px solid;
}

.list-skills {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

[list-item] {
    font: 200 20px/1.5;
    border-bottom: 1px solid #ccc;
  }
   
  [list-item]:last-child {
    border: none;
  }
   
  [list-item] a {
    text-decoration: none;
    color: gray;
    display: block;
    width: 99%;
   
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
  }
   
  [list-item] a:hover {
    font-size: 20px;
    background: #eee9e9;
    color: black;
  }